.fundo {
    -fx-background-color: #E8E8E8;
}.botoes {
    -fx-background-color: #0000FF;
}.botoesAcionados {
    -fx-background-color: #FF0000;
}.botoesAcionados {
    -fx-background-color: #C6E2FF;
}.display {
    -fx-font-size: 40px;
    -fx-font-family:'Badloc ICG';
}



